@font-face {
  font-family: "GoMono";
  src: url("../assets/fonts/Go-Mono.woff") format("woff");
}

body {
  font-family: GoMono, Times, serif;
  margin: 0 0 0 0;
  background-color: lightgray;
}

#black-square {
	flex: 1 0 auto;
	width: 100%;
	height: auto;
	background-color: lightgray;
}

p {
	padding: 2px 10px 0 10px;
	max-width: 90vw;
	margin: none;
}

#main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vw;
}

.cell {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  justify-content: center;
  width: auto;
  min-width: 100px;
  height: auto;
  margin: 2px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}

.image-cell {
  display: flex;
  flex-grow: 10;
  flex-flow: column;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  width: 98%;
  min-width: 200px;
  height: 98%;
  min-height: 200px;
  margin: 2px;
  align-self: center;
  background-image: url("../assets/img/ramos_wu.jpg");
}

.cell-row {
	display: flex;
	flex-flow: row nowrap;
}

.cell-row .cell {
  justify-content: center;
}

.logo {
  width: 10vh;
  align-self: center;
}

#main-title {
	flex: 1 0 auto;
}

.cell > .text {
	padding: 5px 5px 5px 10px;
}

#artist-list {
	display: flex;
	width: 100%;
}

#artist-list .text {
	text-align: center;
}




